<div id="devices-view">

  <div class="row devices">

    <!-- Devices -->
    <div class="col-xs-12 col-md-8 col-md-offset-2">

      <table class="table table-hover">
        <tr>
          <th>Name</th>
          <th>Manufacturer</th>
          <th>Type</th>
          <th>OS</th>
          <th>Last seen</th>
          <th></th>
        </tr>

        <!--<tr ui-scroll="device in devices" buffer-size="5" adapter="devicesAdapter">-->
        <tr ng-repeat="device in devices | orderBy:['-is_present', '-last_presence_date']">
          <td>{{device.name}}</td>
          <td>{{device.manufacturer}}</td>
          <td>{{device.type}}</td>
          <td>{{device.os}}</td>
          <td>
            <div ng-if="device.is_present">Just now <span am-time-ago="device.last_presence_date"></span></div>
            <div ng-if="!device.is_present"><span am-time-ago="device.last_presence_date"></span></div>
          </td>
          <td hidden am-time-ago="device.last_presence_date">
          <td>
            <div class="btn-group" uib-dropdown>
              <button id="single-button" type="button" class="btn btn-primary" uib-dropdown-toggle>
                <i class="ionicons ion-gear-b"></i>
              </button>
              <ul class="uib-dropdown-menu" role="menu" aria-labelledby="single-button">
                <li role="menuitem"><a href="" ng-click="openEditDeviceModal(device)">
                  <i class="ionicons ion-edit"></i> Edit</a>
                </li>
                <li role="separator" class="divider"></li>
                <li role="menuitem"><a href="" ng-click="openRemoveDeviceModal(device)">
                  <i class="ionicons ion-ios-trash-outline"></i> Remove</a>
                </li>
              </ul>
            </div>
          </td>
        </tr>
      </table>

      <div class="row">
        <div class="col-md-4">
          <button class="btn btn-primary btn-block" ng-click="openAddDeviceModal()">Add device</button>
        </div>
      </div>

    </div>

  </div>

</div>
