<div id="users-view">

  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-8 col-md-offset-2">

      <!-- Users -->
      <div class="row users">
        <div class="col-xs-12">

          <table class="table table-hover">
            <tbody>

            <tr>
              <th>Name</th>
              <th>E-mail</th>
              <th>Added</th>
              <th>Last seen</th>
              <th></th>
            </tr>
            <tr ui-scroll="user in companyUsers"
                buffer-size='5'
                adapter="companyUsersAdapter">

              <td>
                <gravatar-image email="{{user.email_address}}" full-name="{{user.full_name}}" size="32"></gravatar-image>
                {{user.full_name}}
              </td>
              <td>{{user.email_address}}</td>
              <td am-time-ago="user.created_date"></td>
              <td am-time-ago="user.last_seen_date"></td>
              <td>
                <div class="btn-group pull-right" uib-dropdown>
                  <button type="button" class="btn btn-primary" uib-dropdown-toggle>
                    <span class="glyphicon glyphicon-cog"></span>
                  </button>
                  <ul class="uib-dropdown-menu" role="menu">
                    <li role="menuitem"><a href="" ng-click="openRemoveUserModal(user)"><span
                            class="glyphicon glyphicon-trash"></span> Remove</a></li>
                  </ul>
                </div>
              </td>
            </tr>
            </tr>

            </tbody>
          </table>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button class="btn btn-primary" ng-click="openInviteUserModal()">Invite user</button>
        </div>
      </div>

      <!-- Invites -->
      <div class="row invites" ng-show="companyInvites.getSize()" ng-cloak>
        <div class="col-md-12">

          <table class="table table-hover">
            <tbody>

            <tr>
              <th>E-mail</th>
              <th>Date invited</th>
              <th></th>
            </tr>
            <tr ui-scroll="invite in companyInvites"
                buffer-size='5'
                adapter="companyInvitesAdapter">

              <td>
                {{invite.email_address}}
              </td>
              <td am-time-ago="invite.created_date"></td>
              <td>
                <div class="btn-group pull-right" uib-dropdown>
                  <button type="button" class="btn btn-primary" uib-dropdown-toggle>
                    <span class="glyphicon glyphicon-cog"></span>
                  </button>
                  <ul class="uib-dropdown-menu" role="menu">
                    <li role="menuitem"><a href="" ng-click="removeInvite(invite)"><span
                            class="glyphicon glyphicon-trash"></span> Remove</a></li>
                  </ul>
                </div>
              </td>

            </tr>

            </tbody>
          </table>

        </div>
      </div>

    </div>
  </div>

</div>
