<div id="navigation-view" class="navbar navbar-default" role="navigation">

  <div class="container-fluid">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <a class="navbar-brand text-hide" href="#/dashboard">dog.ai</a>
      <span class="badge brand">beta</span>
    </div>

    <div class="collapse navbar-collapse" id="js-navbar-collapse">

      <!-- Left navigation -->
      <ul class="nav navbar-nav">
        <li ui-sref-active="active"><a ui-sref="private.content.dashboard">Dashboard</a></li>
        <li ui-sref-active="active"><a ui-sref="private.content.employees" ng-show="company.created_date">Employees</a>
        </li>
      </ul>

      <!-- Right navigation -->
      <ul class="nav navbar-nav navbar-right">

        <!-- Notifications -->
        <li ui-view="notifications" id="notifications-view" class="dropdown notifications-dropdown" ng-show="company.created_date"></li>

        <!-- Shop -->
        <li ng-hide="company.created_date" class="disabled">
          <a href="#">Buy a dog</a>
        </li>

        <!-- Company -->
        <li class="dropdown company-dropdown" ng-show="company.created_date">
          <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
             aria-expanded="false">
            {{company.name}}
          </a>
          <ul class="dropdown-menu">
            <li><a href="#/dog">Dog</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#/apps">Apps</a></li>
            <li><a href="#/users">Users</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#/devices">Devices</a></li>
            <li role="separator" class="divider"></li>
            <li ng-class="{'disabled': (user.companies | size) <= 1}">
              <a href="" ng-click="openSwitchCompanyModal()">Switch
                company...</a>
            </li>
          </ul>
        </li>

        <!-- User -->
        <li class="dropdown user-dropdown">
          <a href="" class="dropdown-toggle gravatar" data-toggle="dropdown" role="button" aria-haspopup="true"
             aria-expanded="false">
            <gravatar-image email="{{user.email_address}}" full-name="{{user.full_name}}" size="32"></gravatar-image>
            {{user.full_name}}
          </a>
          <ul class="dropdown-menu">
            <li><a href="#/preferences">Preferences</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="" ng-click="openChangePasswordModal()">Change password...</a></li>
            <li><a href="" ng-click="openChangeEmailAddressModal()">Change e-mail address...</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="" ng-click="logout()">Log out</a></li>
          </ul>
        </li>
      </ul>

    </div>

  </div>
</div>
