<a href="" class="dropdown-toggle notifications-toggle" data-toggle="dropdown" role="button">
  Notifications
  <span class="badge notifications" ng-show="companyNotifications.getUnreadCount()">
    {{companyNotifications.getUnreadCount()}}
  </span>
</a>

<ul class="dropdown-menu notifications-menu" ui-scroll-viewport>

  <li class="notification-item no-notifications" ng-hide="companyNotifications.getSize()">
    No notifications so far ;(
  </li>

  <li class="notification-item"
      ui-scroll="notification in companyNotifications"
      buffer-size='5'
      adapter="adapter">

    <a href="{{notification.getUrl()}}" ng-click="companyNotifications.markAsRead(notification)"
       ng-class="{unread: companyNotifications.isUnread(notification)}">

      <div class="row">
        <div class="col-xs-2 notification-image">
          <img ng-src="{{apps.findThumbnailUrlById(notification.app)}}"
               fallback-src
               class="img-circle"
               width="40" height="40"/>
        </div>
        <div class="col-xs-10">
          <div class="notification-message">{{notification.message}}</div>
          <div class="notification-date">
            <i class="glyphicon glyphicon-time"></i>
            <span>{{notification.created_date | amDateFormat: 'MMMM DD HH:mm' }}</span>
          </div>
        </div>
      </div>
    </a>
  </li>

</ul>
