<div id="forgot-password-view" class="container-fluid">

    <div class="row email-reset">
      <div class="col-xs-12 col-sm-4 col-sm-offset-4">

        <legend hidden>Reset your password</legend>

        <form name="form" role="form" novalidate>

          <div class="form-group">
            <label for="email" hidden>E-mail</label>
            <input id="email" required name="email" type="email" ng-model="email" class="form-control input-lg"/>

            <div class="help-block" ng-messages="form.email.$error"
                 ng-show="(form.$submitted || form.email.$touched) && form.email.$invalid" ng-cloak>
              <p ng-message="required">Your e-mail is required.</p>

              <p ng-message="email">Your e-mail is invalid.</p>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4">
              <p>
                <button class="btn btn-default btn-lg btn-block" ui-sref="public.login($stateParams)">Go back</button>
              </p>
            </div>
            <div class="col-md-8">
              <p>
                <button class="btn btn-primary btn-lg btn-block" ng-click="reset(email)">Send me a reset e-mail</button>
              </p>
            </div>
          </div>
        </form>

        <p ng-show="message" class="bg-success">{{message}}</p>

        <p ng-show="error" class="bg-danger">{{error}}</p>
      </div>
    </div>

</div>

