<div id="signup-view" class="container-fluid">

    <div class="row sad-message" ng-hide="$stateParams.envelope">
      <div class="col-xs-12 col-sm-4 col-sm-offset-4">
        <span class="sad-face"><i class="ionicons ion-sad-outline"></i></span>
        <p>Sorry, we are invite only at the moment</p>
        <a id="okay-button" ui-sref="public.login" class="btn btn-default btn-lg" role="button">
          Okay!
        </a>
      </div>
    </div>

    <div class="row use-invite" ng-show="$stateParams.envelope">
      <div class="col-xs-12 col-sm-4 col-sm-offset-4">
        <legend hidden>Sign Up</legend>
        <form name="form" role="form" novalidate>

          <div class="form-group">
            <label for="name" hidden>Name <span>*</span></label>
            <input id="name" required name="name" type="text" ng-model="user.full_name" class="form-control input-lg"/>

            <div class="help-block" ng-messages="form.name.$error"
                 ng-show="(form.$submitted || form.name.$touched) && form.name.$invalid" ng-cloak>
              <p ng-message="required">Your name is required.</p>
            </div>
          </div>

          <div class="form-group" ng-hide="$stateParams.envelope">
            <label for="email" hidden>E-mail <span>*</span></label>
            <input id="email" name="email" type="email" ng-model="user.email_address" class="form-control input-lg"/>

            <div class="help-block" ng-messages="form.email.$error"
                 ng-show="(form.$submitted || form.email.$touched) && form.email.$invalid" ng-cloak>
              <p ng-message="required">Your e-mail is required.</p>

              <p ng-message="email">Your e-mail is invalid.</p>
            </div>
          </div>

          <div class="form-group">
            <label for="password" hidden>Password <span>*</span></label>
            <input id="password" required name="password" type="password" ng-model="user.password"
                   class="form-control input-lg"/>

            <div class="help-block" ng-messages="form.password.$error"
                 ng-show="(form.$submitted || form.password.$touched) && form.password.$invalid" ng-cloak>
              <p ng-message="required">Your password is required.</p>
            </div>
          </div>

          <p hidden>
            * required information
          </p>

          <div class="row">
            <div class="col-md-4">
              <p>
                <button class="btn btn-default btn-lg btn-block" ui-sref="public.login($stateParams)">Go back</button>
              </p>
            </div>
            <div class="col-md-8">
              <p>
                <button class="btn btn-primary btn-lg btn-block" ng-click="register(user, company)">Sign
                  up
                </button>
              </p>
            </div>
          </div>
        </form>
        <p ng-show="error" class="bg-danger">{{error}}</p>
      </div>
    </div>


</div>

