<div id="landing-view">

  <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">

      <div class="jumbotron">
        <h1>Making <s>the world</s> your office a better place for <s>humans</s> machines</h1>
        <p>Let Dog AI do the heavy lifting of micro-managing your employees, no more looking at the clock when
          they
          come in late or reminding them to stop facebooking.</p>
        <p>Be the one releasing the dog on them.</p>

        <div class="row">
          <div class="col-xs-12 col-sm-4 col-sm-offset-1">
            <a id="email-button" href="mailto:woof-woof@dog.ai" class="btn btn-default btn-lg btn-block" role="button">Say
              <strike>hello</strike> woof-woof</a>
          </div>
          <div class="col-xs-12 col-sm-2">
            <p>or</p>
          </div>
          <div class="col-xs-12 col-sm-4">
            <a id="login-button" href="#/login" class="btn btn-primary btn-lg btn-block" role="button">Try our private
              beta</a>
          </div>
        </div>

      </div>

    </div>
  </div>

</div>
