<form name="form" role="form">
  <div class="modal-header">
    <h4 class="modal-title">Add new employee</h4>
  </div>

  <div class="modal-body">
    <div class="form-group">
      <label>Name</label>
      <input type="text" name="full_name" ng-model="employee.full_name" class="form-control"/>
    </div>

    <div class="form-group">
      <label>Picture URL</label>
      <input type="text" name="picture_url" ng-model="employee.picture_url" class="form-control"/>
    </div>

    <div class="form-group">
      <label>LinkedIn Profile URL</label>
      <input type="text" name="linkedin_profile_url" class="form-control"
             ng-model="employee.linkedin_profile_url"
             ng-disabled="{{!apps['linkedin'].is_enabled}}"

      />
    </div>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="cancel()">No, wait</button>
    <button type="button" class="btn btn-primary" ng-click="addNewEmployee(employee)">Yes, add</button>
  </div>
</form>
