<form name="form" role="form"
      ng-submit="save()"
      ng-model-options="{updateOn: 'submit'}">

  <div class="modal-header">
    <h4 class="modal-title">Edit employee</h4>
  </div>

  <div class="modal-body">
    <div class="form-group">
      <label for="fullName">Name</label>
      <input id="fullName" name="fullName" type="text" class="form-control" required
             ng-model="employee.full_name"/>
    </div>

    <div class="form-group">
      <label for="pictureUrl">Picture URL</label>
      <input id="pictureUrl" name="pictureUrl" type="text" class="form-control"
             ng-model="employee.picture_url"/>
    </div>

    <div class="form-group disabled">
      <label for="linkedInProfileUrl">LinkedIn Profile URL</label>
      <input id="linkedInProfileUrl" name="linkedInProfileUrl" type="text" class="form-control"
             ng-model="employee.linkedin_profile_url"
             ng-disabled="{{!apps['linkedin'].is_enabled}}"/>

    </div>

    <div class="form-group">
      <label>Devices</label>
      <oi-select id="employeeDevices" name="employeeDevices" multiple
                 ng-model="employeeDevices"
                 oi-options="device.name for device in companyDevices track by device.$id"
                 oi-select-options="{
                    newItem: true,
                    saveTrigger: 'enter, blur',
                    newItemModel: {$id: null, name: $query}}">
      </oi-select>
    </div>

  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="cancel()">No, wait</button>
    <button type="submit" class="btn btn-primary">Yes, save changes</button>
  </div>
</form>
