<div id="apps-view">

  <div class="row apps">

    <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3" ng-repeat="companyApp in companyApps">
      <div class="thumbnail">

        <div>
          <a href="" ng-click="openEditAppModal(companyApp)">
            <div class="image">
              <img ng-src="{{apps.findThumbnailUrlById(companyApp.$id) || '//:0'}}"
                   fallback-src
                   alt="{{companyApp.$id}}" width="120" height="120"/>
            </div>
          </a>

          <div class="panel">
            <div class="caption">
              <h3>{{apps.findNameById(companyApp.$id)}}</h3>
              <p>{{apps.findDescriptionById(companyApp.$id)}}</p>
            </div>

            <div class="switch">
              <input id="cmn-toggle-{{companyApp.$id}}" type="checkbox" class="cmn-toggle cmn-toggle-round"
                     ng-model="companyApp.is_enabled"
                     ng-change="toggleApp(companyApp)">
              <label for="cmn-toggle-{{companyApp.$id}}">
              </label>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>

</div>
