<form name="form" role="form">

  <div class="modal-header">
    <h4 class="modal-title">Which company do you want to switch to?</h4>
  </div>

  <div class="modal-body">
    <div class="form-group">
      <label hidden>Companies</label>
      <oi-select id="selectedCompany" name="selectedCompany"
                 oi-options="company as company.name for company in companies"
                 ng-model="selectedCompany"
        ></oi-select>
    </div>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="cancel()">No, wait</button>
    <button type="button" class="btn btn-primary" ng-click="switchCompany(selectedCompany)">Yes, switch</button>
  </div>
</form>
